body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #000;
}

#applicationRegion {
    text-align: center;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
}

#panel {
    background-color: #1F1F2E;
    top: 0px;
    position: absolute;
    width: 15%;
    right: 0px;
    height: 100%;
}

#leftcolumn {
    position: absolute;
    width: 15%;
    height: 100%;
    left: 10px;
    font-size: 24px;
    color: white;
    opacity: 0.7;
    top: 20%;
}

#buttons {
    width: 100%;
}

#tweets,
#submit,
#reset {
    width: 80%;
    margin-top: 20%;
    /*margin-left: 10%;*/
}

.button {
    width: 80%;
    margin-top: 20%;
}

#search,
#url,
#keyword,
#userInput {
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
}
}
#configList {
    width: 100%;
    top: 10%;
}
#datasourcesList,
#templatesList,
#visualizationList {
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
}
.country {
    position: absolute;
    width: 80%;
    left: 10%;
    font-size: 24px;
    color: white;
    opacity: 0.7;
    top: 30%;
}
.menu {
    margin-top: 20px;
}
.menu li {
    display: inline-block;
    background: #333;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.menu li a {
    color: #fff;
}