body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #000;
}

#applicationRegion {
    text-align: center;
}
#vizRegion {
    text-align: center;
}
/*canvas {
    position: absolute;
}*/

#main {
    width: 100%;
    height: 100%;
    position: absolute;
}

#panel {
    background-color: #1F1F2E;
    /*opacity: 0.2;*/
    
    top: 0px;
    position: absolute;
    width: 15%;
    right: 0px;
    height: 100%;
    /*z-index: 9999;*/
}

#leftcolumn {
    position: absolute;
    width: 15%;
    height: 100%;
    left: 10px;
    font-size: 24px;
    color: white;
    opacity: 0.7;
    top: 20%;
}

#search,
#url,
#keyword {
    position: relative;
    width: 80%;
    left: 10%;
    top: 40%;
}

#tweets,
#submit {
    position: relative;
    width: 80%;
    left: 10%;
    top: 50%;
}

#reset {
    position: relative;
    width: 80%;
    left: 10%;
    top: 60%;
}

#datasourcesList {
    position: relative;
    width: 80%;
    left: 10%;
    top: 10%;
}

#configList {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}
#visualizationList {
    position: relative;
    width: 80%;
    left: 10%;
    top: 20%;
}

#templatesList {
    position: relative;
    width: 80%;
    left: 10%;
    top: 30%;
}

.country {
    position: absolute;
    width: 80%;
    left: 10%;
    font-size: 24px;
    color: white;
    opacity: 0.7;
    top: 30%;
}

.menu {
    margin-top: 20px;
}

.menu li {
    display: inline-block;
    background: #333;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.menu li a {
    color: #fff;
}