/**
 *  For modern browsers
 */

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/***************************************
 * Layout
 ***************************************/

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #000;
    overflow-x: hidden;
    /*font-weight: lighter;*/

    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
}

#vizInfoCenter {
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 5%;
    /*font-weight: lighter;
    letter-spacing: 2px;*/
}

#titleBox {
    color: white;
    opacity: 0.9;
    text-align: center;
    font-size: 200%;
    position: absolute;
    top: 18px;
    left: 100px;
    font-size: 26px;
    font-weight: bold;
}

#applicationRegion {
    margin-right: 250px;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
}

#panel {
    background-color: #1F1F2E;
    top: 0px;
    position: absolute;
    width: 250px;
    right: 0px;
    height: 100%;
    opacity: 0.9;
    z-index: 9995;
}

a,
a:visited {
    color: #ffffff;
    text-decoration: underline;
}
a:hover{
    color: #9797C2;
}

dl {
    margin-right: 20px;
    margin-bottom: 3px;
}

dt {
    width: 200px;
    display: inline-block;
    font-size: 16px;
}

dd {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
}

b {
    color: #fff;
}

#rootGlobe {
    margin-right: 250px;
}

#baseGlobe {
    top: 0;
    /*margin-left: -250px;*/
}
/***************************************
 * Elements
 ***************************************/

.btn-primary {
    background: #56567A;
    border: 1px solid #56567A;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:hover {
    background: #40405C;
    border: 1px solid #40405C;
}

#buttons {
    width: 100%;
}

#tweets,
#submit,
#reset {
    width: 80%;
    margin-top: 20%;
    /*margin-left: 10%;*/
}

.button {
    width: 80%;
    margin-top: 10%;
    /* font-weight: lighter;
    letter-spacing: 2px;*/
    /*background-color: #56567A;*/
}
button{
    outline: none;
}

.configList {
    position: relative;
    z-index: 100;
    margin: 0 10%;
    padding-bottom: 20px;
    background-color: #1F1F2E;
}

.configList label.label {
    display: block;
    text-align: left;
    padding: 0;
    margin-top: 10%;
    font-size: 14px;
    /*font-weight: normal;*/
}

.configList .form-control {
    width: 100%;
}

.btn {
    width: 100%;
}

.checkbox{
    cursor: pointer;
    position: relative;
}
.checkbox span{
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 8px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 10%;
    box-sizing: border-box;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#fileName {
    display: none;
    margin: 5px 0 0 0;
    padding-left: 4px;
    color: #fff;
}

#fileName:before {
    font-family: 'Glyphicons Halflings';
    content: "\e022";
}

#fileNameMsg {
    color: red;
}

#box-select {
    margin: 10% auto 0;
}
/***************************************
 * Notification
 ***************************************/

#notificationsBox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 460px;
    margin-left: -230px;
    margin-top: -15px;
    text-align: center;
    z-index: 9000;
}

.notification {
    line-height: 30px;
    border-radius: 4px;
    color: #fff;
    width: 460px;
    margin-left: -125px;
    background-color: rgba(75, 75, 115, 0.7);
    border: 1px solid #4B4B73;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}
/***************************************
 * Instruction module
 ***************************************/

#instruction {
    position: relative;
    height: 100%;
    margin-right: 250px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    /*justify-content: center;*/
    align-items: center;
    z-index: 9999;
}

#instruction header {
    margin-bottom: 30px;
}

#instruction header h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

#instruction .inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background-color: rgba(31, 31, 46, 0.9);
    border-radius: 10px;
    padding: 40px 40px 10px;
    color: #9797C2;
}

#instruction .inner h3 {
    border-bottom: 1px solid #56567A;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #fff;
}

#instruction .feedback {
    margin-bottom: 30px;
}

#instruction .demo {}

#instruction ul.steps {
    text-align: center;
    padding-left: 0;
    margin-right: -15px;
    margin-bottom: 0;
}

#instruction ul.steps li {
    position: relative;
    display: table;
    float: left;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 15px;
    background: #56567A;
    padding: 2px 0px 2px 10px;
    color: #fff;
    border-radius: 5px;
}

#instruction ul.steps li div {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

#instruction ul.steps li div.ttl {
    float: left;
    font-size: 36px;
}

#instruction ul.steps li:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -15px;
    left: auto;
    right: -10px;
    top: 50%;
    bottom: auto;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 18px solid #56567A;
}

#instruction ul.steps li:last-child:after {
    display: none;
}

#instruction .contacts{
  margin-bottom: 4px;
}
#instruction .contacts p {
    display: inline;
}

#instruction .contacts ul {
    display: inline;
    padding-left: 0;
}

#instruction .contacts ul li {
    display: inline;
    margin-right: 8px;
}

#helpButton {
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 25px;
    font-size: 40px;
    z-index: 90;
}

#feedbackButton {
    cursor: pointer;
    position: absolute;
    right: 35%;
    bottom: 25px;
    font-size: 40px;
    z-index: 90;
}

/***************************************
 * Matcher module
 ***************************************/

#matcherBox {
    background-color: rgba(75, 75, 115, 1);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 800px;
    height: 700px;
    margin-top: -350px;
    margin-left: -525px;
    text-align: left;
    color: white;
    font-size: 150%;
    z-index: 9999;
}

.matcherBoxInner{
    margin: 20px 30px;
}

.templateImgList{
    padding: 0;
    display: table;
}
.templateTitle{
    font-size: 14px;
    margin-bottom: 0;
}
.templateImgList li{
    display: table-cell;
    padding: 0 10px;
}
.templateImgList li img{
    width: 145px;
    height: 145px;
}
.templateImgList li .imgBtn{
    border: none;
    border-radius: 4px;
    padding: 10px;
    background: none;
}
.templateImgList li .imgBtn:hover,
.templateImgList li .imgBtn.active{
    background: #40405C;
}
.templateImgList li.active .imgBtn{
    background: #40405C;
}

.SetColumns{
    width: 100%;
    border: 1px solid #9797C2;
    padding: 10px;
}
.SetColumns:after {
  content: "";
  clear: both;
  display: block;
}
.colTitle{
    font-size: 12px;
    text-align: center;
    padding-bottom: 4px;
}
.SetColumn,
.colTitle {
    float: left;
    /*position: absolute;*/
    /*padding: 10px 20px;*/
    /*float: left;*/
    width: 50%;
}
.SetColumn:first-child ul{
    border-right: 1px dotted #9797C2;
}
.SetColumn{
    cursor: pointer;
    padding: 0 10px;
    margin-bottom: 0;
    height: 215px;
    overflow-y: scroll;
}
.SetColumn{
    position: relative;
    margin: 0 0 11px;
}
.SetColumn button{
    font-size: 16px;
    width: 100%;
    color: rgb(255, 255, 255);
    border: none;
    background: none;
    text-align: left;
}
.SetColumn button span{
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 9px;
    margin: -1px 5px 0 0;
    border-radius: 3px;
    vertical-align: middle;
    padding: 2px 4px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.4);
}
.SetColumn button span.l-num{
    background: #1f6c8f;
}
.SetColumn button span.l-str{
    background: #4ab125;
}
.SetColumn button.inactive,
.SetColumn button.inactive:hover{
    color: rgb(121, 131, 159);
    background: none;
}
.SetColumn button.active{
    color: rgb(255, 255, 255);
    background-color: rgb(121, 131, 159);
}
.SetColumn button:hover,
.SetColumn button.chosen{
    color: #fff;
    background-color: grey;
}
.SetColumn button.selected{
    color: rgb(121, 131, 159);
    background-color: #40405C;
}
.SetColumn button.selected:after{
    content: "";
    font-size: 12px;
    position: absolute;
    text-align: center;
    right: 5px;
    top: 50%;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    line-height: 20px;
    border-radius: 50%;
    color: #9797C2;
    background: #eeeeee;
}
.SetColumn button.sel-1:after,
.SetColumn button.sel-11:after{
    /*content: "1";*/
    background: #eeeeee;
}
.SetColumn button.sel-2:after,
.SetColumn button.sel-12:after{
    /*content: "2";*/
    background: #1f6c8f;
}
.SetColumn button.sel-3:after,
.SetColumn button.sel-13:after{
    /*content: "3";*/
    background: #30ba00;
}
.SetColumn button.sel-4:after,
.SetColumn button.sel-14:after{
    /*content: "4";*/
    background: #b82560;
}
.SetColumn button.sel-5:after,
.SetColumn button.sel-15:after{
    /*content: "5";*/
    background: #d0ca1b;
}
.SetColumn button.sel-6:after,
.SetColumn button.sel-16:after{
    /*content: "6";*/
    background: #8f541f;
}
.SetColumn button.sel-7:after,
.SetColumn button.sel-17:after{
    /*content: "7";*/
    background: #9fe895;
}
.SetColumn button.sel-8:after,
.SetColumn button.sel-18:after{
    /*content: "8";*/
    background: #bbbbbb;
}
.SetColumn button.sel-9:after,
.SetColumn button.sel-19:after{
    /*content: "8";*/
    background: #ffa200;
}
.SetColumn button.sel-10:after,
.SetColumn button.sel-20:after{
    /*content: "8";*/
    background: #f7a0ff;
}

#AttrsSubmitButton {
    position: absolute;
    width: 140px;
    left: 50%;
    margin-left: -70px;
    bottom: 15px;
    right: 5px;
    /*background-color: #56567A;*/
}

.heading {
    position: relative;
    font-size: 18px;
    margin-bottom: 5px;
    /*width: 33%;*/
    /*text-align: center;*/
    /*float: left;*/
}
.heading p{
    display: inline;
    font-size: 12px;
    color: #9797C2;
    margin-left: 10px;
}
.heading a{
    color: #9797C2;
    position: absolute;
    right: 0;
    bottom: 4px;
}

#AttrsHeader {
    margin-top: 10px;
    width: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
}

#pic {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}
/***FILTERS****/

#filterPanel,
#cameraSwitcherPanel {
    background-color: #1F1F2E;
    position: fixed;
    right: 250px;
    top: 0;
    width: 250px;
    height: 100%;
    text-align: left;
    color: white;
    font-size: 150%;
    z-index: 999;
    /*font-weight: lighter;*/
}
